.header {
    display: flex;
    border: 1px solid black;
    height: 800px;
    flex-direction: row;
    align-items: stretch;
}

.aside-l {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: black;
}
.icon {
    text-align: center;
    color: white;
    height: 50px;
}
.test-l {
    color: white;
    margin: auto;
    font-weight: bolder;
    transform: rotate(-90deg);
}