* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: gray;
    border: gray;
    height: 500px;
}
.aside-l {
    text-align: center;
    width: 30px;
    background: black;
    border: black;
    color: white;
    height: auto;
}
.text-l {
    transform: rotate(-90deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.text-c {
    font-weight: bold;
    text-align: center;
}