.container {
    display: flex;
    justify-content: space-around;
}
ul {
    list-style-type: none;
    border: black 3px solid;
    border-radius: 5px;
}
li {
    padding-bottom: 5px;
}
a:link,a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}


