@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
.header {
    background: url("proch/photo_2021-08-17_17-43-43.jpg") no-repeat;
    background-size: 100%;
    position: relative;
    margin-bottom: 50px;
}
.top-menu {
    display: flex;
    color: white;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction:row;
    padding-right: 15px;
}
li {
    padding: 5px;
}
a:link, a:visited {
    color: #73b1a4;
    text-decoration: none;
}
a:hover {
    color: #73b1a4;
    text-decoration:none;
    border-bottom-color: #73b1a4;

}
li:hover {
    border-bottom: #73b1a4 2px solid;
}
.header-content {
 text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.header-content span {
    font-size: xx-small;
}
h1 {
    font-size: xxx-large;
    margin: 10px;
}

.center {
    background: #ffffff;
    text-align: center;
}
.portfolio-1{
    display: flex;
    justify-content: center;

}
.portfolio-2{
    display: flex;
    justify-content: center;
}
.center span {
    font-size: xx-large;
    line-height: 50px;
}
.IMG {
    padding: 20px;
}

.sub-footer {
    background: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    background: #2f2f2f;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer span {
    color: white;
}
footer p {
    color: #858583;
}