@media screen and (max-width: 375px) and (max-height: 812px){
    .ABOUT-US .Block-3S {
        flex-direction: column;
        text-align: center;
    }
    .Block-3S .Block p{
        width: 80%;
        text-align: justify;
        margin: 0 auto 10px;
    }
    .OUR-WORKS .Photo {
        flex-direction: column;
        width: 250px;
    }
    .OUR-WORKS .Photo div {
        align-self: center;
    }
    .foto-text{
        flex-direction: column;
    }
   .foto-foto-text {
       margin: 0 auto 10px;
   }
    .text-foto-text .text{
        width: 375px;
    }
    .APPLE-PHONE {
        justify-content: center;
    }
    .text-apple h1{
        color: #292929;
    }
    .text-apple p{
        color: #292929;
    }
    .text-apple a:link{
        color: #292929;
    }
    .text-apple a:hover{
        color: #292929;
    }
    .text-apple a:visited{
        color: #292929;
    }
    .apple-phone {
        display: none;
    }
    .down-APPLE-PHONE {
        flex-wrap: wrap;
    }
    .Photo-1 {
        flex-direction: column;
        width: 250px;
    }
    .text-and-grafik {
        flex-direction: column-reverse;
    }
    .text-and-grafik div {
        margin: 0 auto;
    }
    .text-and-grafik div img {
        margin-bottom: 20px;
    }
    .background {
        background: none;
        width: 360px;
        height: 277px;
        margin: 0 auto;
    }
    .logo {
        flex-wrap: wrap;
    }
    .Contact {
        flex-direction: column;
    }
}